.m-popup {
   position: absolute;
   background-color: white;
   padding: 15px 25px 15px 15px;
   border: 1px solid #cccccc;
   bottom: 12px;
   left: -50px;
   border-radius: 5px;
   box-shadow: 2px 2px 8px -4px rgba(0, 0, 0, 0.53);
}

.m-popup:after,
.m-popup:before {
   top: 100%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}

.m-popup:after {
   border-top-color: white;
   border-width: 10px;
   left: 48px;
   margin-left: -10px;
}

.m-popup:before {
   border-top-color: #cccccc;
   border-width: 11px;
   left: 48px;
   margin-left: -11px;
}

.m-popup-content {
   min-width: 170px;
   max-height: 200px;
   overflow-x: auto;
}

.m-popup-closer {
   position: absolute;
   top: 2px;
   right: 2px;
   font-size: 100%;
   padding: 0 4px;
   color: gray;
   text-decoration: none;
}

.m-popup-closer:after {
   content: "\2716";
}

.m-popup div.infoResult {
   min-width: 130px;
}

.m-popup div.infoResult p {
   padding: 0.1em;
   margin: 0;
}

.m-popup-content h3 {
   margin: 0.25em 0;
}

.m-popup.marker {
   margin-bottom: 30px;
}