assembly
config
tasks
test
webpack-config
.eslintignore
.eslintrc
karma.conf.js
nightwatch.conf.js
package-lock.json
pom.xml

# Directorios y ficheros ignorados por git
*.settings
*.project
*.classpath
*.externalToolBuilders
.atomignore
node
node_modules
target
libraries
doc
build
dist
index.js
index-*.js
entry-points-plugins.json
*~
chromedriver.log