{
  "extends": "airbnb",
  "globals": {
    "goog": true,
    "M": true,
    "ol": true,
    "L": true,
    "Handlebars": true,
    "proj4": true,
    "ActiveXObject": true,
    "jsts": true,
    "chroma": true,
    "document": true,
    "window": true,
    "DOMParser": true,
    "XMLHttpRequest": true,
    "Image": true
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "import/extensions": ["error", "never"],
    "import/no-unresolved": "off",
    "brace-style": ["error", "stroustrup"],
    "prefer-destructuring": "off",
    "arrow-body-style": "off",
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "none"
    }],
    "class-methods-use-this": ["error", {
     "exceptMethods": [
      "updateCanvas"
     ]
     }]
  }
}
