<div class="m-control m-layerswitcher-container">
   <button id="m-layersiwtcher-btn" title="Leyenda"></button>
   <div class="m-layersiwtcher-panel" id="m-layerswitcher-panel">
      <ul>
         {{#gt baseLayers.length 0}}
         <li class="group">
            <span>Capas base</span>
            <ul>
               {{#each baseLayers}}
               <li{{#if outOfRange}} class="disabled" {{/if}}>
                  <div class="layer-base">
                     <i id="{{id}}" class="fa fa-{{#if visible}}dot-{{/if}}circle-o"></i>
                     <span>{{title}}</span>
                  </div>
         </li>
         {{/each}}
         </ul>
         </li>
         {{/gt}}
         <li class="group">
            <span>Otras capas</span>
            <ul>
               {{#each overlayLayers}}
               <li class="{{#if outOfRange}}disabled{{/if}}{{#if visible}} visible{{/if}}">
                  <div class="layer">
                     <i id="{{id}}" class="fa fa-toggle-{{#if visible}}on{{^}}off{{/if}}"></i>
                     <span>{{title}}</span>
                  </div>
                  <div class="legend">
                     <img src="{{legend}}"></img>
                  </div>
                  <!-- <div class="legend" style="background-image: url('{{legend}}')"></div> -->
               </li>
               {{/each}}
            </ul>
         </li>
      </ul>
   </div>
</div>