/* .m-rotate-container {
    top: 20px;
    left: 600px;
} */

.m-areas>div.m-area>div.m-panel>div.m-panel-controls>div.m-control.m-rotate-container {
    /* display: flex; */
}

.m-areas>div.m-area>div.m-panel>div.m-panel-controls>div.m-control.m-rotate-container button[class^="g-cartografia-"]#m-rotate-button {
    background-color: #fff;
    color: #337ceb;
    cursor: pointer;
    position: absolute;
    z-index: 200;
    padding: 0;
    left: 19%;
    top: 23%;
    font-size: 1.5rem;
    border-radius: 50%;
}

.m-rotate-slider {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
}

#m-rotate-slider-container {
    width: 40px;
    height: 40px;
}

#m-rotate-marker {
    width: 45px;
    position: absolute;
    height: 45px;
}

#m-rotate-marker-circle {
    stroke: #337ceb;
    fill: #fff;
    cursor: pointer;
}