.m-wmcselector-container {
   height: 30px;
   top: 5px;
   right: 50px;
   display: block;
}

.m-wmcselector-select {
   border: 2px solid #da542f;
   background-color: #FEFEFE;
   padding: 4px;
   color: #da542f;
   font-weight: bold;
   text-decoration: none;
   outline: none;
}